<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Functional Testing Suite">


    <listeners>

        <listener class-name="com.functionalTesting.utilities.ExtentListener"/>

    </listeners>


    <test name="Automation Test">


        <classes>


            <class name="com.functionalTesting.testcases.ERailTest"/>


            <class name="com.functionalTesting.testcases.OrangeHRMLoginTest"/>


        </classes>


    </test>


</suite>